.LogoSocialNetwork {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0;
    z-index: 5;
    margin-right: 17px;
    margin-bottom: 17px;
    border:white solid 2px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.2,-2,0.8,2);
}

.LogoSocialNetwork:hover {
    height: 51px;
    width: 51px;
    border: #ff4d1c solid 2px;
}

.Fb {
    bottom: 0;
}

.Insta {
    bottom: 67px;
    background-color: white;
}
