.InfoFrontImg {
    height: 600px;
    width: 900px;
    position: relative;
    margin: auto;
    margin-top: 8px;
    max-width: 100%;
}

@media (max-height: 800px) {
    .InfoFrontImg {
        height: 400px;
    }
}
